<nav class="navbar navbar-expand-lg navbar-colors justify-content-between">
  <a class="navbar-brand link-colors" [routerLink]="['/cars']">Cars</a>
  <div class="mr-sm-2">
    <button
      mat-raised-button
      color="accent"
      (click)="authService.login()"
      *ngIf="!authService.isAuthenticated()"
    >
      Log In
    </button>
    <button
      mat-raised-button
      color="warn"
      (click)="authService.logout()"
      *ngIf="authService.isAuthenticated()"
    >
      Log Out
    </button>
  </div>
</nav>
