<mat-grid-list cols="4" rowHeight="15em">
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <mat-card class="mat-elevation-z4 card-width">
      <mat-card-header>
        <mat-card-title>
          <p class="id-text">ID: {{ (car?.id).substring(0, 6) }}</p>
          {{ car?.brand }}
        </mat-card-title>
        <mat-card-subtitle>
          <div>
            {{ car?.country }}
          </div>
          <div>
            {{ car?.registration | date: "MM/dd/yy" }}
          </div>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button [routerLink]="['/car/edit', car?.id]">EDIT</button>
        <button mat-button (click)="deleteCar(car?.id)">DELETE</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
